version: '3'
networks:
  app-tier:
    driver: bridge
services:
  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: example
    ports:
      - '5432:5432'
    volumes:
      - /var/lib/postgres/data
    networks:
      - app-tier
  my-app:
    image: 'app:latest'
    ports:
      - '8080:8080'
    environment:
      SPRING_DATA_MONGODB_HOST: mongodb
    networks:
      - app-tier
    depends_on:
      - postgres
volumes:
  postgres:
    driver: local